.card {
    border: 1px solid #101010;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    background-color: coral;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: rgb(0, 106, 255);
    
  }