$hovercolor: #ff0000;
$secondary-color: #333;
$font-size: 18px;
$noHover: false;


nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 10px;
      li {
        text-align: center;
        a {
          text-decoration: none;
          color: black;
          font-size: $font-size;
          &:hover {
            @if $noHover == true {
              color: $hovercolor;
            } @else {
              color: blue;
            }
          }
        }
        }
      }
    }