.navbar {
    background-color: #e6ecef;
    padding: 15px;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    li {

        a {

            padding: 6px 12px;
            text-decoration: none;
            transition: 0.3s ease-in-out;
            font-size: 18px;
            color: black;

        }

        &:hover {
            background-color: #ff0000
            

        }
    }
}