.square {
    opacity: 1;
}

.square {
    width: 100px;
    height: 100px;
    background-color: red;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: opacity 0.5s ease;
}

.content {
    height: 200vh;
}