body {
    p {
        font-size: 1,2em;
        margin-bottom: 10px;
    }
    span {
        font-size: 2em;
        padding-left: 10px;
    }
    a {
        color: blue;
        text-decoration: none;
    }
}


