
@use 'variable';

.container {
    display: flex;
    justify-content: center;
    background-color: variable.$secondary-color;
    border: 2px variable.$third-color;
}

p {
    color: variable.$primary-color;
}