:root {
    --blue: #0b25e9;
    --whyte: #ffffff;
    --padding: 20px;
}

h2 {
    border-bottom: 4px solid var(--blue)
}

.container {
    color: var(--whyte);
    background-color: var(--blue);
    padding:var(--padding);
    border-color: var(--whyte);
    padding-top: 25%;
}