$primary-color: #e6ecef;
$hover-color: #ff0000;
$text-color: black;
$padding: 15px;
$first-div-ratio: 1fr;
$second-div-ratio: 3fr;


.bg-gray {
    background-color: #e7e7e7;
}


.navbar {

    padding: 15px;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    li {

        &:last-child {
            @extend .bg-gray;
            border-color: #333333;
        }

        a {

            padding: 6px 12px;
            text-decoration: none;
            transition: 0.3s ease-in-out;
            font-size: 18px;
            color: black;

        }

        &:hover {
            background-color: #ff0000
        }
    }
}

.container {
    display: grid;
    grid-template-columns: $first-div-ratio $second-div-ratio; 
    gap: 20px;
    width: 80%;
    margin: auto;
    padding: 20px;
    
}


.firstbox {
    background-color: #f1c40f;
}

.secondbox {
    background-color: #3498db;
    
}